Package: com.hamza.disablepowerdown
Name: DisablePowerDown
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Disabled powering down to prevent losing jailbroken mode
Maintainer: Hamza
Author: Hamza
Section: Tweaks
Version: 1.0
Installed-Size: 120
